* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header #spaceBlu {
  height: 20px;
  width: 100%;
  background-color: #4646ff;
}

header #container {
  width: 70%;
  margin: 10px auto;
}

header #container #img {
  margin-right: 100px;
}

header #container #img img {
  width: 100px;
}

header #container li {
  display: inline-block;
  margin: 0 20px;
}

header #container li a {
  color: black;
  text-decoration: none;
  vertical-align: 35px;
  font-weight: 700;
}

header section {
  background-image: url("https://vistapointe.net/images/teen-titans-wallpaper-19.jpg");
  height: 350px;
  background-size: contain;
}

footer {
  color: #ffff;
  background-color: #212223;
}

footer section {
  width: 70%;
  margin: auto;
}

footer section #info {
  padding: 30px 0;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

footer section #log {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer section #log button {
  padding: 5px 10px;
}

#page {
  background-color: #2f2f2f;
  position: relative;
  padding-bottom: 100px;
}

#page #container {
  width: 70%;
  margin: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
}

#page #container #button-up {
  margin: auto;
  position: absolute;
  top: -40px;
  left: 0;
}

#page #container #button-up button {
  color: white;
  background-color: blue;
  border: none;
  padding: 20px 50px;
  font-weight: bolder;
  font-size: 30px;
}

#page #button-down {
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page #button-down button {
  color: white;
  background-color: blue;
  border: none;
  padding: 10px 50px;
  font-weight: bolder;
}

.box {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}

.box .comics {
  width: 100%;
}

.box .comics img {
  width: 100%;
}

.box h3 {
  color: white;
}

#shop {
  background-color: #00c8ff;
}

#shop section {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#shop section div {
  display: flex;
  align-items: center;
  width: 20%;
  padding: 30px;
  color: #ffff;
}

#shop section div img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.comics {
  width: 100%;
}

.comics .comic-bar {
  height: 75px;
  background-color: #467cfa;
}

.comics .comic-bar .box {
  position: relative;
  width: 70%;
  margin: auto;
}

.comics .comic-bar .box .up {
  position: absolute;
  top: -240px;
  left: 0;
}

.comics .description {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.comics .description .comic-des {
  width: 65%;
}

.comics .description .comic-des .ava-ice {
  display: flex;
  justify-content: space-between;
  background-color: #00da69;
  color: #ffff;
  font-size: 20px;
}

.comics .description .comic-des .ava-ice .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 75%;
  border-right: 1px black solid;
}

.comics .description .comic-des .ava-ice .available {
  padding: 15px 30px;
}

.comics .description .comic-des p {
  color: #656565;
  margin-top: 20px;
  line-height: 20px;
}

.comics .more-info {
  background-color: #dbdbdd;
  padding: 30px 0;
}

.comics .more-info .sub-display {
  width: 45%;
  font-weight: 600;
}

.comics .more-info .sub-display .text-display {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.comics .more-info .sub-display .text-display p {
  width: 70%;
}

.comics .display-flex-v {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.comics .sub-shop {
  background-color: #dbdbdd;
}

.comics .sub-shop div {
  width: 25%;
  padding: 20px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.text-blu {
  color: #00c8ff;
}

.text-green {
  color: #14ac14;
}

